<div class="todo-app-container">
   <div class="todo-example-app">
      <% if (typeof(error) !== 'undefined') { %>
      <div class="error">
         Message: <%= error.message %>
      </div>
      <% } %>
      <form class="todo-form" action="<%= url('/add') %>" method="post">
         <input type="text" name="todoItem" placeholder="<%= appData.get('placeholderText') %>" autocomplete="off" />
         <input type="submit" />
      </form>

      <section class="main">
         <%= partial.render('todo-list', obj) %>
      </section>

      <footer>
         <span class="todo-count"><%= partial.render('todo-count', {count: remaining}) %></span>
         <ul class="filters">
            <li><a <% if (listType === 'all') { %>class="selected" <% } %>href="<%= url('/all') %>">Alla</a></li>
            <li><a <% if (listType === 'remaining') { %>class="selected" <% } %>href="<%= url('/') %>">Återstående</a></li>
            <li><a <% if (listType === 'completed') { %>class="selected" <% } %>href="<%= url('/completed') %>">Avklarade</a></li>
         </ul>
      </footer>
   </div>
</div>
